body{
    background-color: antiquewhite;
}

.navBar{
    display: flex;
    justify-content: space-between;
    background: rgb(48, 41, 41);
    height: 70px;
    align-items: center;
    color:bisque
}
#Title{
    margin-left: 10px;
    font-size: 50px;
}
.links{
    margin-right: 10px;
}

ul{
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
ul li{
    text-decoration: none;
    transition: ease-in-out;
} 

ul li:hover{
    color: hsl(271, 76%, 53%, 0.75);
}