
.profile-container {
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.title-container {
  text-align: center;
}

.profile-title {
  font-size: 24px;
}

.tabs-container {
  margin-top: 20px;
  width: 100%;

}

.tab-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around; 
  border-top: 1px solid #ccc; 
  margin-top: 10px; 
  width: 100%
}

.tab {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.tab:hover {
  background-color: #f0f0f0;
}

.tab-panel {
  margin-top: 20px;
  width: 100%;
  display: grid;
}

.tab-content-title {
  color: #555;
}

.postProfile-item{
  width: 100%; 
  max-width: 300px; 
  margin-left: 40%;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

#backtofeed{
  margin-right: 90%;
}
